<div class="modal-header">
  <h4>หมายเหตุส่วนลด</h4>
</div>
<div class="modal-body">
  <div class="my-content">
    <div class="row">
      <div class="col-md-2">
        <h4>เหตุผล:</h4>
      </div>
      <div class="col-md-10">
        <div class="form-group">
          <textarea class="form-control" rows="4" cols="80"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-success">ตกลง</button>
        <button type="button" class="btn btn-danger" ng-click="close()">ยกเลิก</button>
      </div>
    </div>

  </div>
</div>
