
<!--<button ng-click="activeSide(!isSide)" ><i class="fa fa-plus"></i> {{isSide}}</button>--> 

<ab-table-3
    options ="options"
    rows = "rows"
    row ="row"
    >
    <!--{{row}}-->
    <div class="row"> 
        <div class="col-md-6">
            <div class="row space_line_5">
                <div class="col-md-6">
                    <label><b>ลำดับ :</b></label>
                </div>
                <div class="col-md-4">              
                    <input class="form-control" ng-model="row.c_seq" >  
                </div> 
            </div>
        </div>
    </div>
    
        
    <div class="row"> 
        <div class="col-md-6">
            <div class="row space_line_5">
                <div class="col-md-6">
                    <label><b>ชื่อ :</b></label>
                </div>
                <div class="col-md-4">              
                    <input class="form-control" ng-model="row.lng1_c_name" >  
                </div> 
            </div>
        </div>
    </div>
   
    <div class="row"> 
        <div class="col-md-6">
            <div class="row space_line_5">
                <div class="col-md-6">
                    <label><b>เบอร์โทรศัพท์ :</b></label>
                </div>
                <div class="col-md-4">              
                    <input class="form-control" ng-model="row.c_mobile" >  
                </div> 
            </div>
        </div>
    </div>
    
    <div class="row"> 
        <div class="col-md-6">
            <div class="row space_line_5">
                <div class="col-md-6">
                    <label><b>ราคา/ชั่วโมง :</b></label>
                </div>
                <div class="col-md-4">              
                    <input class="form-control" ng-model="row.i_price" >  
                </div> 
            </div>
        </div>
    </div>
 
    <div class="row"> 
        <div class="col-md-6">
            <div class="row space_line_5">
                <div class="col-md-6">
                    <label><b>จำนวนชั่วโมงขั้นต่ำ :</b></label>
                </div>
                <div class="col-md-4">              
                    <input class="form-control" ng-model="row.i_hour" >  
                </div> 
            </div>
        </div>
    </div>
 
     <div class="row"> 
        <div class="col-md-6">
            <div class="row space_line_5">
                <div class="col-md-6">
                    <label><b>จำนวนเดือนหมดอายุ :</b></label>
                </div>
                <div class="col-md-4">              
                    <input class="form-control" ng-model="row.i_month" >  
                </div> 
            </div>
        </div>
    </div>   
       
</ab-table-3>