.col-non-padding {
  padding: 0px !important;
}

.non-margin {
  margin: 0px !important;
}

.modal-tab-well-70vh {
  height: 70vh !important;
  margin: 0px !important;
}


.Carousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
}

.Carousel-inner {
  transition: 1s ease all;
  float: left;
}

.Carousel-inner .item {
  float: left;
  border: 1px solid #ccc;
  text-align: center;
}

.leftLst, .rightLst {
  margin-top: 15px;
}

.pay-type{
  margin-bottom: 10px;
}

.font-50{
  font-size: 50px;
}

.pay-summary{
  height: 112px;
}


.rn-carousel-control.rn-carousel-control-next {
  right: 0.5em;
  display: block;
  background-image: url(../plugin/angular-carousel/arrow.png);
  height: 54px;
  width: 14px;
  top: 10px;
}

.rn-carousel-control.rn-carousel-control-prev {
  right: 1.3em;
  display: block;
  background-image: url(../plugin/angular-carousel/arrow.png);
  height: 54px;
  width: 14px;
  top: 10px;
  transform: scaleX(-1);
}

.rn-carousel-control.rn-carousel-control-next:before {
  content: "";
}

.rn-carousel-control.rn-carousel-control-prev:before {
  content: "";
}

.card-search {
  padding-left: 11px;
  padding-right: 11px;
  margin-bottom: 20px;
}
.card-type {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
