<div class="modal-header">
  เลือกส่วนลด
</div>
<div class="modal-body">

  <div class="my-content" >

    <div class="row">
      <div class="col-md-7">
        <div class="row well well-sm" style="height: 54vh;">
          <table class="table" style="margin-bottom: 0px;">
            <thead>
              <tr>
                <th>ส่วนลด</th>
                <th class="text-right">จำนวนเงิน</th>
              </tr>
            </thead>
          </table>
          <div style="overflow: auto; max-height: 39vh;">
            <table class="table table-hover table-condensed" style="margin-top:-30px;margin-bottom: 0px;">

              <tbody style="background-color: #ffebcc;">
                <tr>
                  <td>Discount 10%</td>
                  <td class="text-right">0.00</td>
                </tr>
                <tr>
                  <td>Discount 10%</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <td>Discount 10%</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <td>Discount 10%</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <td>Discount 10%</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <td>Discount 10%</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <td>Discount 10%</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <td>Discount 10%</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <td>Discount 10%</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <td>Discount 10%</td>
                  <td>0.00</td>
                </tr>
                <tr>
                  <td>Voucher 500</td>
                  <td>500</td>
                </tr>
              </tbody>
            </table>

          </div>
          <hr style="margin-bottom:0px">
          <div class="row">
            <div class="col-md-12 text-right">
              <h1 style="margin-top:0px">รวม 13,000</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row well well-sm" style="height: 54vh;">
          <div style="overflow: auto; max-height: 44vh;">
            <button class="btn btn-danger btn-block btn-flat">Discount 10%</button>
            <button class="btn btn-danger btn-block btn-flat">Discount 50฿</button>
            <button class="btn btn-danger btn-block btn-flat">Discount Total</button>
            <button class="btn btn-success btn-block btn-flat">Discount 20%</button>
            <button class="btn btn-success btn-block btn-flat">Voucher 500</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-success">ตกลง</button>
        <button class="btn btn-danger" ng-click="close()">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>
