<style media="screen">
  .box-reserve {
    height: 50px
  }
</style>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <form ng-submit="popupFindReserve()" class="col-md-5">
        <input type="text" class="form-control">
      </form>
      <div class="form-group col-md-5">
        <div class="input-group">
          <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
        <!-- /.input group -->
      </div>
      <button ng-click="popupNewReserve()" type="button" class="btn btn-default col-md-2">
				B
			</button>
    </div>
    <div class="row text-right">
      <button type="button" class="btn btn-default" ng-click="getDataByLane(1)">
				เลน 1
			</button>
      <button type="button" class="btn btn-default" ng-click="getDataByLane(2)">
				เลน 2
			</button>
    </div>
    <div class="row" ng-init="getDataByLane(1)"> 
<!--      <table class='table table-striped table-bordered table-hover table-condensed'>
        <thead>
          <tr>
            <th></th>
            <th>11.00</th>
            <th>12.00</th>
            <th>13.00</th>
            <th>14.00</th>
            <th>15.00</th>
            <th>16.00</th>
            <th>17.00</th>
            <th>18.00</th>
            <th>19.00</th>
            <th>20.00</th>
            <th>21.00</th>
            <th>22.00</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td></td>
            <td colspan="4" class="bg-green">คุณ AAAA AAAA</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4" class="bg-yellow">คุณ AAAA AAAA</td>

          </tr>
          <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4" class="bg-green">คุณ AAAA AAAA</td>

            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4" class="bg-green">คุณ AAAA AAAA</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4" class="bg-yellow">คุณ AAAA AAAA</td>

            <td></td>
          </tr>
        </tbody>
      </table> !-->



       <table class='table table-striped table-bordered table-hover table-condensed'>
        <thead>
          <tr>
            <th> </th>
            <th>11.00</th>
            <th>12.00</th>
            <th>13.00</th>
            <th>14.00</th>
            <th>15.00</th>
            <th>16.00</th>
            <th>17.00</th>
            <th>18.00</th>
            <th>19.00</th>
            <th>20.00</th>
            <th>21.00</th>
            <th>22.00</th>
          </tr>
        </thead>
        <tbody ng-repeat="lane in dataDisplay">
          <tr ng-repeat="row in lane">
            <td>{{$index+1}}</td>
            <td ng-class="{'bg-green': row.T1100}" colspan="{{row.T1100.blockCount}}">{{row.T1100.name}}</td>
            <td ng-class="{'bg-green': row.T1200}" ng-if="row.T1200.name != row.T1100.name || row.T1200.name == null" colspan="{{row.T1200.blockCount}}" >{{row.T1200.name}}</td>
            <td ng-class="{'bg-green': row.T1300}" ng-if="row.T1300.name != row.T1200.name || row.T1300.name == null" colspan="{{row.T1300.blockCount}}" >{{row.T1300.name}}</td>
            <td ng-class="{'bg-green': row.T1400}" ng-if="row.T1400.name != row.T1300.name || row.T1400.name == null" colspan="{{row.T1400.blockCount}}" >{{row.T1400.name}}</td>
            <td ng-class="{'bg-green': row.T1500}" ng-if="row.T1500.name != row.T1400.name || row.T1500.name == null" colspan="{{row.T1500.blockCount}}" >{{row.T1500.name}}</td>
            <td ng-class="{'bg-green': row.T1600}" ng-if="row.T1600.name != row.T1500.name || row.T1600.name == null" colspan="{{row.T1600.blockCount}}" >{{row.T1600.name}}</td>
            <td ng-class="{'bg-green': row.T1700}" ng-if="row.T1700.name != row.T1600.name || row.T1700.name == null" colspan="{{row.T1700.blockCount}}" >{{row.T1700.name}}</td>
            <td ng-class="{'bg-green': row.T1800}" ng-if="row.T1800.name != row.T1700.name || row.T1800.name == null" colspan="{{row.T1800.blockCount}}" >{{row.T1800.name}}</td>
            <td ng-class="{'bg-green': row.T1900}" ng-if="row.T1900.name != row.T1800.name || row.T1900.name == null" colspan="{{row.T1900.blockCount}}" >{{row.T1900.name}}</td>
            <td ng-class="{'bg-green': row.T2000}" ng-if="row.T2000.name != row.T1900.name || row.T2000.name == null" colspan="{{row.T2000.blockCount}}" >{{row.T2000.name}}</td>
            <td ng-class="{'bg-green': row.T2100}" ng-if="row.T2100.name != row.T2000.name || row.T2100.name == null" colspan="{{row.T2100.blockCount}}" >{{row.T2100.name}}</td>
            <td ng-class="{'bg-green': row.T2200}" ng-if="row.T2200.name != row.T2100.name || row.T2200.name == null" >{{row.T2200.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">

      รายละเอียดที่ต้องชำระเงิน

    </div>
    <div class="row">
      <div class="well well-sm">
        <table class='table '>
          <tbody>
            <tr>
              <td>บัตร Flow Card</td>
              <td>1</td>
              <td>7500</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>รวมทั้งสิ้น</th>
              <th>7500</th>
            </tr>
            <tr>
              <th></th>
              <th>ส่วนลด</th>
              <th>0.00</th>
            </tr>
            <tr>
              <th></th>
              <th>ยอดสุทธิ</th>
              <th>7500</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <span class="input-group-addon">เงินสด</span>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="input-group">
        <span class="input-group-addon">เครดิต</span>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        ชำระแล้ว
      </div>
      <div class="col-md-6">
        เงินทอน
      </div>
    </div>
    <div class="row">

      <a class="btn btn-app bg-green col-md-3">
        <!-- <span class="badge bg-green">300</span> -->
        <i class="fa fa-barcode"></i> ใบเสร็จ
      </a>


      <button ng-click="popupDiscount()" class="btn btn-app bg-yellow col-md-3">
        <!-- <span class="badge bg-green">300</span> -->
        <i class="fa fa-barcode"></i>ส่วนลด
      </button>

      <a class="btn btn-app bg-navy col-md-3">
        <!-- <span class="badge bg-green">300</span> -->
        <i class="fa fa-barcode"></i> พิมพ์ใบเสร็จ
      </a>

    </div>
  </div>
</div>
