<!-- <div class="modal-header">
header
</div> -->
<div class="modal-body">
  <!--<div class="my-content" style="height: 100%; width: 100%;">	-->
  <div class="my-content" style="height: {{content_height}}px; width: 100%;">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> ลูกค้าทั่วไป/สมาชิก
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Agent
          </label>
        </div>
      </div>
        </div>
        <div class="row">
          <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">ชื่อ</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="" >
          </div>
        </div>
      </div>
        </div>
        <div class="row">
          <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">เบอร์โทรศัพท์</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="" >
          </div>
        </div>
      </div>
        </div>
        <div class="row">
          <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">วันที่มาใช้บริการ</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="" >
          </div>
        </div>
      </div>
        </div>
        <div class="row">
          <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">จำนวนชั่วโมง</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="" >
          </div>
        </div>
      </div>
        </div>
        <div class="row">
          <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">จำนวนผู้มาใช้บริการ</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="" >
          </div>
        </div>
      </div>
        </div>
        <div class="row">
          <div class="col-md-12">
        <div class="form-group">
          <button class="btn btn-success">ตกลง</button>
          <button class="btn btn-danger">ยกเลิก</button>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="pull-right btn btn-warning" ng-click="close()">Close</button>
</div>
