<!-- <div class="modal-header">
header
</div> -->
<div class="modal-body">
  <!--<div class="my-content" style="height: 100%; width: 100%;">	-->
  <h4>จองเลน {{laneNo}}</h4>
  <div class="my-content" style="height: {{content_height}}px; width: 100%;">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> ลูกค้าทั่วไป/สมาชิก
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Agent
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">ชื่อ</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  id="customer-name">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">เบอร์โทรศัพท์</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  id="customer-tel">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">วันที่มาใช้บริการ</label>
          <div class="col-sm-8">
            <input type="text" class="form-control clsDatePicker" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="bookDate" id="reserve-date">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">เวลาที่มาใช้บริการ</label>
          <div class="col-sm-8">
            <!-- <input type="text" class="form-control" id="reserve-time44"> !-->
            <select class="form-control" id="reserve-time">
              <option value="1100">11:00</option>
              <option value="1200">12:00</option>
              <option value="1300">13:00</option>
              <option value="1400">14:00</option>
              <option value="1500">15:00</option>
              <option value="1600">16:00</option>
              <option value="1700">17:00</option>
              <option value="1800">18:00</option>
              <option value="1900">19:00</option>
              <option value="2000">20:00</option>
              <option value="2100">21:00</option>
              <option value="2200">22:00</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">จำนวนชั่วโมง</label>
          <div class="col-sm-8">
            <input type="email" class="form-control"  id="reserve-time-qty">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">จำนวนผู้มาใช้บริการ</label>
          <div class="col-sm-8">
            <input type="email" class="form-control"  id="reserve-customer-qty">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <button class="btn btn-success" ng-click="addReserve()">ตกลง</button>
          <button class="btn btn-danger">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="modal-footer">
  <button class="pull-right btn btn-warning" ng-click="close()">Close</button>
</div>
