<div class="modal-header">
จองเลน {{laneNo}}
</div>
<div class="modal-body">
  <div class="my-content" style="height: {{content_height}}px; width: 100%;">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="member" ng-checked="true" ng-model="row.c_type" > ลูกค้าทั่วไป/สมาชิก
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="agent"  ng-model="row.c_type" > Agent
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          ชื่อ 
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group" ng-if="row.c_type=='member'">
          <input type="text" class="form-control"  id="customer-name"
          	ng-model="row.booking_name"
          >
        </div> 
        <div class="form-group" ng-if="row.c_type!='member'">
          <select class="form-control"   
                      ng-model="row.agent_id"
                      ng-options="s.agent_id as s.lng1_c_name for s in options.MODEL.agent"                      
                      >   
          </select> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          เบอร์โทรศัพท์
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="tel" class="form-control"  id="customer-tel" ng-model="row.booking_tel">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          วันที่มาใช้บริการ
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" class="form-control clsDatePicker" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="bookDate" id="reserve-date" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          เวลาที่มาใช้บริการ
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <select class="form-control" id="reserve-time" ng-model="row.reserveTime" >
            <option value="0">11:00</option>
            <option value="1">12:00</option>
            <option value="2">13:00</option>
            <option value="3">14:00</option>
            <option value="4">15:00</option>
            <option value="5">16:00</option>
            <option value="6">17:00</option>
            <option value="7">18:00</option>
            <option value="8">19:00</option>
            <option value="9">20:00</option>
            <option value="10">21:00</option>
            <option value="11">22:00</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          จำนวนชั่วโมง
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="number" class="form-control"  id="reserve-time-qty" min="1" max="10" ng-model="row.i_start_hour" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          จำนวนผู้มาใช้บริการ
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input type="number" class="form-control"  id="reserve-customer-qty" min="1" max="10" ng-model="row.i_start_player">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <div class="form-group">
          <button class="btn btn-success" ng-click="addReserve()">ตกลง</button>
          <button class="btn btn-danger" ng-click="close()">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
