<ab-table-3
	options ="Options"
	ng-if="refreshMsg"
	rows = "rows"
	row ="row">
	<div>
		<!--<div class="form-group" ng-repeat="item in msgFlds">-->

		<div class="row">
		{{ user_stat | json }}
			<div class="col-sd-6 col-md-6 col-ld-6">
				<h2>CUSTOMER</h2>
				<h2>{{total_user_stat}}</h2>
			</div>
			<div class="col-sd-6 col-md-6 col-ld-6">
				<h2>SELECT</h2>
				<h2>{{user_stat.result}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sd-12 col-md-4 col-ld-4">
				R ตั้งแต่ {{ sliderR.max }} วัน ถึง {{ sliderR.min }} วัน
				<div range-slider 
						min="sliderR_option.min" 
						max="sliderR_option.max" 
						model-min="sliderR.min" 
						model-max="sliderR.max" 
						attach-handle-values="true"
						filter="date:''"
						on-handle-up="getUserStat()"
					></div>
				นานแล้ว
				ล่าสุด
			</div>
			<div class="col-sd-12 col-md-4 col-ld-4">
				F ตั้งแต่ {{ sliderF.min }} ครั้ง ถึง {{ sliderF.max }} ครั้งต่อปี
				<div range-slider 
						min="sliderF_option.min" 
						max="sliderF_option.max" 
						model-min="sliderF.min" 
						model-max="sliderF.max" 
						attach-handle-values="true"
						on-handle-up="getUserStat()"
					></div>
				ไม่บ่อย
				บ่อย
			</div>
			<div class="col-sd-12 col-md-4 col-ld-4">
				M ตั้งแต่ {{ sliderM.min }} ถึง {{ sliderM.max }} บาท
				<div range-slider 
						min="sliderM_option.min" 
						max="sliderM_option.max" 
						model-min="sliderM.min" 
						model-max="sliderM.max" 
						attach-handle-values="true"
						on-handle-up="getUserStat()"
					></div>
				น้อย
				มาก
			</div>
		</div>
		<div class="row">
			<hr />
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-6">
					Status: <select ng-model="row.e_status">
						<option value="active">Active</option>
						<option value="pause">Pause</option>
					</select>
				</div>
				<div class="col-md-6">
					<div class="" ng-show="row.c_type=='SCHEDULE-SEND'">
						<label for="date_time_event">ส่งเมื่อ</label>
						<input type="date" ng-model="row.msg.d_date">
						<input type="time" ng-model="row.msg.c_time" step="600">
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<!--<label for="{{item.model}}">{{item.title}}</label><input ng-model="row[item.model]" type="{{item.type || text}}" class="form-control {{item.type || text}}" id="{{item.model}}" />-->
				<!--<span ng-repeat="msgType in msgTypeList">
					<label for="c_msg_type_{{msgType.value}}"><input type="radio" ng-model="$parent.c_msg_type" name="c_msg_type" class="iradio_minimal" id="c_msg_type_{{msgType.value}}" value="{{msgType.value}}" /> {{msgType.name}}</label>
				</span>-->
			<div>
				<label for="c_subject">Subject</label><input ng-model="row.c_subject" type="text" class="form-control" id="c_subject" />
			</div>

		</div>

		<tabset>

			<tab ng-repeat="step in row.c_message.steps" heading="Step {{$index + 1}}" active="step.active">
				<div style='float: right;'>
					<button ng-show="{{$index}} > 0" class="btn btn-danger" ng-click="delStep(step)"><i class="fa fa-time"></i> delete step</button>
				</div>

				<div style="float: left">
					<label for="c_msg_type_text">Step Type
						<select name="c_msg_type" ng-model="step.msgType" ng-init="msgType[0].value" ng-options="msgType.value as msgType.name for msgType in msgTypeList"></select>
					</label>
				</div>
				<div style="clear: both;"></div>
				<label for="c_message">Step Message</label>
				<div text-angular ng-model="step.text" name="message_editor_{{$index}}" ta-toolbar="{{taToolbar}}"></div>
				<!--<textarea ui-tinymce="tinymceOptions" id="c_msg_message" ng-model="step.text"></textarea>-->
				<!--<mce-editor ng-model="c_message1" id="c_msg_message"></mce-editor>-->

				<div ng-show="step.msgType=='question'">
					<div>
						<label for="c_question_meta_key">Question Meta Key</label>
							<input ng-model="step.c_meta_key" type="text" class="form-control" id="c_question_meta_key_{{$index}}" />
						 </label>
					</div>

					<div>
						<label for="c_question_type">Question Type
							<select ng-model="step.qType" class="" ng-init="questionType[0].value" id="c_question_type" ng-options="questionType.value as questionType.name for questionType in questionTypeList"></select>
						 </label>
					</div>

					<div ng-show="step.qType=='checkbox' || step.qType=='radio'">
						<label>Choices :</label>

							<div id='c_question_input_content_{{$index}}'>
								<div class="input-group" ng-repeat="choice in step.choices">
                                    <span class="input-group-addon">#{{$index + 1}}</span>
                                    <!--<input type="text" class="form-control" value="{{choice.value}}" width="20%" placeholder="Value of choice">-->
                                    <input type="text" class="form-control" ng-model='choice.text' width="80%" placeholder="Choice">
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger btn-flat" type="button" ng-click="removeChoice($index, choice)"><i class="fa fa-trash-o"></i></button>
                                    </span>
                                </div>
                                <br />
							</div>
							<button class="btn btn-success" ng-click="addChoice($index)"><i class="fa fa-plus"></i> Add choice</button>
					</div>
				</div>
			</tab>
			<tab class="bg-info" ng-click="addStep()">
				<tab-heading>
			        <i class="fa fa-plus"></i>
			    </tab-heading>
			</tab>
		</tabset>
		
		<div class="form-group" ng-show="0">
			<div>
				<label for="">Attach Image(s)</label>
				<div flow-init="flowOptions"
						 flow-name="obj.flowObj"
				     flow-files-submitted="$flow.upload()"
				     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
				  <span class="btn btn-default" flow-btn>Upload New Image</span>
				  <span class="btn btn-default" ng-click="showMedia()">Select From Library</span>
				  <div class="" ng-show="row.img_url.length || row._lib_img.length">
				  	<div ng-repeat="i in row._img_url" >
				  		<div class="pull-left gallery-box">
						    <div class="btn-group">
						  		<label><input type="checkbox" ng-model="row._curImg[$index]"> Remove</label>
						  	</div>
						    <div>
					  			<img ng-src="{{i.url}}" height="150" class="thumbnail"/>
					  		</div>
						  </div>
				  	</div>
				  	<div ng-repeat="i in row._lib_img" >
				  		<div class="pull-left gallery-box">
						    <div class="btn-group">
						  		<label><input type="checkbox" ng-model="row._curLibImg[$index]"> Remove</label>
						  	</div>
						    <div>
					  			<img ng-src="{{i.url}}" height="150" class="thumbnail"/>
					  		</div>
						  </div>
				  	</div>
				  </div>
				  <div class="pull-left">
				    <div ng-repeat="file in $flow.files" class="gallery-box">
				      <!--<span class="title">{{file.name}}</span>-->
				      <div class="btn-group">
				        <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
				          Cancel
				        </a>
				      </div>
				      <div class="thumbnail" ng-show="$flow.files.length">
				        <img flow-img="file" />
				      </div>
				      <div class="progress progress-striped" ng-show="file.isUploading()" ng-class="{active: file.isUploading()}">
				        <div class="progress-bar" role="progressbar"
				             aria-valuenow="{{file.progress() * 100}}"
				             aria-valuemin="0"
				             aria-valuemax="100"
				             ng-style="{width: (file.progress() * 100) + '%'}">
				          <span class="sr-only">{{file.progress()}}% Complete</span>
				        </div>
				      </div>
				    </div>
				  </div>
				</div>

				<div class="clearfix"><br /></div>
			</div>
			<div class="clearfix"></div>
		</div>
</ab-table-3>