 
<ab-table-3
	options ="options"
	rows = "rows"
	row ="row"
	refashfn="Refresh" 
	set-refash-fn="setRefashFn(theRefashFn)"
	savefn="SaveFN" 
	set-save-fn="setSaveFn(theSaveFn)"
	set-del-fn="setDelFn(theDelFn)"
	set-upd-fn="setUpdFn(theUpdFn)"
	>

  <div class="my-content" style="height: {{content_height}}px; width: 100%;">		
	<!--
	<div ng-show="row.id">
		<button ng-click="items()"
			class="btn btn-primary">Item @Supplier</button>
	</div>-->
	<!--{{row.hdr}}-->  <!--ng-hide="row.hdr.e_create_by=='PO'"-->
	<!--{{row.hdr.e_status_action}}-->
  	<div class="row" ng-show="row.hdr.id > 0">	
  		<div class="col-md-6">
  			<span class="my-header-span text-blue" ng-show="row.hdr.e_status_action=='active_create'"><b>ยังไม่อนุมัติ</b></span>
  			<span class="my-header-span text-blue" ng-show="row.hdr.e_status_action=='active_confirm'"><b>อนุมัติแล้ว</b></span>
  			<span class="my-header-span text-blue" ng-show="row.hdr.e_status_action=='active_complete' || row.hdr.e_status_action=='active_missing'"><b>สาขารับแล้ว</b></span>
  			<span class="my-header-span text-red" ng-show="row.hdr.e_status=='delete'"><b>ยกเลิก</b></span>
  		</div>		
	    <div class="col-md-6">
	      <div class="btn-group pull-right">

			<button title="Delete"
	          class="btn btn-danger btn-flat" 
	          ng-click="delete_msg();theDelFn(delete_action);"
	          ng-show="row.hdr.e_status_action=='active_create' "
	          ><i class="ion ion-close"></i> Delete</button>

	      	<button title="Print"
	          class="btn btn-info btn-flat" 
	          ng-show="row.hdr.e_status_action=='active_create' 
	          	|| row.hdr.e_status_action=='active_confirm' 
	          	|| row.hdr.e_status_action=='active_complete'
	          	|| row.hdr.e_status_action=='active_missing'"
	          ng-click="print_action()"><i class="fa fa-print"></i> Print</button>	

	         <button title="Approve"
	          class="btn btn-primary btn-flat"
	          ng-show="row.hdr.e_status_action=='active_create'"
	          ng-click="approve_action();"><i class="fa fa-check"></i> Approve</button> 

	     <!--
	        <button title="Approve"
	          class="btn btn-primary btn-flat"
	          ng-click="SaveFN()"><i class="fa fa-check"></i> Approve</button>
	      -->

 		  </div>
 		</div>
 	</div> 	

	<div class="row space_line_5">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4">
					<label><b>สาขา : &nbsp;</b></label>
				</div>
				<div class="col-md-8">				
					<select class="form-control"
						ng-model="options.location"
						ng-options="s.c_name for s in MODEL.location_branch "
						ng-change="change_location()"
						ng-disabled="options.rows_dtl.length>0 || options.disabled "
						> 
					</select>
				</div> 
			</div>
			<div class="row">
				<div class="col-md-4">
					<label><b>ที่อยู่ : &nbsp;</b></label>
				</div>
				<div class="col-md-8">
					<textarea ng-model="row.hdr.c_location_address" class="form-control" id="c_desc" type="text" rows="3"
						ng-disabled="options.disabled" ></textarea>
				</div> 
			</div>
		</div> 
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4">
					<label><b>เลขที่เอกสาร : &nbsp;</b> </label>
				</div>	
				<div class="col-md-8">
					<input ng-model="row.hdr.c_doc_no" class="form-control" id="c_doc_no" type="text" readonly>
				</div>	
			</div>	
			<div class="row">
				<div class="col-md-4">
					<label><b>วันที่สร้าง : &nbsp;</b> </label>
				</div>	
				<div class="col-md-8">
					<div class="input-group">
						<input ng-model="row.hdr.d_date" class="form-control" id="d_date" type="text" datepicker-popup  is-open="date1.opened"
							min-date="minDate" ng-disabled="options.disabled" />
						<span class="input-group-btn">
	                		<button type="button" class="btn btn-default" ng-click="openDate1($event)"
	                			ng-disabled="options.disabled" ><i class="glyphicon glyphicon-calendar"></i></button>
	              		</span>
              		</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-4">
					<label><b>กำหนดส่ง : &nbsp;</b> </label>
				</div>	
				<div class="col-md-8">
					<div class="input-group">
						<input ng-model="row.hdr.d_date_send" class="form-control" id="d_date_send" type="text" datepicker-popup is-open="date2.opened" 
							min-date="minDate" ng-disabled="options.disabled" />
						<span class="input-group-btn">
	                		<button type="button" class="btn btn-default" ng-click="openDate2($event)"
	                			ng-disabled="options.disabled" ><i class="glyphicon glyphicon-calendar"></i></button>
	              		</span>
					</div>
				</div>	
			</div>	
			<div class="row" ng-show="row.hdr.e_create_by=='PO'">
				<div class="col-md-4">
					<label><b>เอกสารอ้างอิง : &nbsp;</b> </label>
				</div>	
				<div class="col-md-8">
					<input ng-model="row.hdr.c_refer_group_c_doc_no" class="form-control" id="c_refer_group_c_doc_no" type="text" readonly>
				</div>	
			</div>		

		</div>		
			
	</div>	
	<div class="row" ng-hide="options.disabled" >		
	    <div class="col-md-12">
	      <div class="btn-group pull-right">

	        <button title="Select History" 
	          class="btn btn-info btn-flat"
	          ng-click="add_history()"><i class="fa fa-history"></i> เลือกจากประวัติการใช้</button>
	        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	        <button title="Add Item" 
	          class="btn btn-primary btn-flat"
	          ng-click="add_items()"><i class="fa fa-plus"></i> เพิ่มสินค้า</button>

 		  </div>
 		</div>
 	</div> 	
 
		<!--{{options.rows_dtl}}-->
	<div class="row space_line_5 ">	 
		<div class="col-md-12">	 

		  <table width="100%" class="{{options.classTable}}" >
		     <thead>
		      <tr class="{{options.tableBg}}">
		        <th ng-repeat="col in options.cols_dtl" width="{{col.width}}px" colspan="{{col.colspan}}" style="text-align:{{col.align}}" 
		        	>{{col.label || col.map}}</th>
		        <th width="20px" >Option</th> 
		        <th ng-repeat="but in options.cols_buttons" width="{{but.width}}px" ></th>
		      </tr>
		    </thead>
			<tbody ng-repeat="row_dtl in options.rows_dtl" 	>
		      <tr ng-click="">
		        <td ng-repeat="col in options.cols_dtl" width="{{col.width}}px" style="text-align:{{col.align}}" >
		        	 <span ng-if="!col.type" ng-model="row_dtl[col.map]" >{{rowCol(row_dtl,col,($parent.$parent.$index+1))}}</span>
		             <input type="textbox" 
		                class="form-control" size="{{col.size}}" style="text-align:{{col.align}};height:24px;padding6px;"  
		             	ng-if="col.type =='textbox' && !col.valid_number" ng-model="row_dtl[col.map]" ng-change="col.changeFn(row_dtl)" 
		             	ng-readonly="col.readonly" 
		             	ng-disabled="row_dtl.disabled || row_dtl.lot_amount_disabled == col.map" 
		             	/>  
		             <input type="textbox" 
		                class="form-control" size="{{col.size}}" style="text-align:{{col.align}};height:24px;padding6px;"  
		             	ng-if="col.type =='textbox' && col.valid_number =='valid-number' " 
		             	ng-model="row_dtl[col.map]" ng-change="col.changeFn(row_dtl)" 
		             	ng-readonly="col.readonly" 
		             	ng-disabled="row_dtl.disabled || row_dtl.lot_amount_disabled == col.map" 
		             	valid-number/>  
		             <select ng-if="col.type =='select' " 
		             	class="form-control" style="height:24px;padding:0px;"
						ng-model="row_dtl[col.map]"
						ng-options="s.id as s.c_desc_show || s.c_desc for s in row_dtl[col.option] "
						ng-disabled="row_dtl.disabled || col.readonly" 
						ng-change="col.changeFn(row_dtl)" 
						> 
					 </select>
		        </td> 
		        <td>
		        	<input type="checkbox"  ng-model="row_dtl.i_add_note" ng-true-value="1" ng-false-value="0" 
		        	ng-disabled="row_dtl.disabled"  />
		        </td> 
		        <td ng-repeat="but in options.cols_buttons" width="{{but.width}}px" align="right"> 		        	
		            <button class="btn {{ but.btn || 'btn-primary' }} btn-xs" ng-click="but.fn($parent.$index,row_dtl)"  
		            ng-disabled="row_dtl.option_disabled" ><i class="fa {{but.icon}}" ></i>{{but.label}}</button>
		        </td> 
		      </tr>
		      <tr ng-show="row_dtl.i_add_note" > 
		      	<td colspan="5">
		      		Note / Serial Number : <input type="textbox" class="form-control" ng-model="row_dtl.c_add_option_note" style="width:350px;display: inline-block;padding: 4px;height: 24px;" 
		      		ng-disabled="row_dtl.option_disabled" ng-hide="row_dtl.option_disabled"  >
		      		<span ng-show="row_dtl.option_disabled"  ng-model="row_dtl.c_add_option_note" >{{row_dtl.c_add_option_note}}</span>
		      	</td>
		      	<td colspan="{{options.cols_dtl.length + 2 - 5}}">
		      		<!--
		      		<input type="checkbox"   ng-model="row_dtl.i_add_branch" ng-true-value="1" ng-false-value="0" ng-change="change_branch($index)" 
		      			ng-disabled="row_dtl.option_disabled" />
		      		<span>ส่งที่สาขา : </span>
		      		<select style="width:300px;display: inline-block;padding: 0px;height: 24px;padding: 0px;"
		      			class="form-control"
						ng-model="options.location_branch[$index]"
						ng-options="s.c_name for s in MODEL.location_branch "
						ng-change="change_branch($index)"
						ng-show="row_dtl.i_add_branch" 
						ng-disabled="row_dtl.option_disabled"
						> 
					</select>
					-->
		      	</td>
		      </tr>		      

		       <!--{{row_dtl.lot_list}}-->
		      <tr ng-show="row_dtl.lot_list.length != 0" ng-repeat="lot in row_dtl.lot_list"  > 
				<td  colspan="{{options.cols_dtl.length + 2 }}"  >
				  <div class="form-group form-inline" style="margin-bottom:0px;"  >

				  	จำนวน : <input type="textbox" class="form-control" ng-model="lot.f_lot_amount" style="width:75px;display: inline-block;padding: 4px;height: 24px;"  
				  	ng-change="cal_lot_number($parent.$index,$index)" 
		      		ng-disabled="row_dtl.lot_disabled"   >
		      		&nbsp;&nbsp;
 		      		Lot Number : <input type="textbox" class="form-control" ng-model="lot.c_lot_number" style="width:200px;display: inline-block;padding: 4px;height: 24px;" 
		      		ng-disabled="row_dtl.lot_disabled"   >
		      		&nbsp;&nbsp;		 
		      		วันที่ผลิต :
		      		<div class="input-group" > 
		      			<input type="textbox" class="form-control" ng-model="lot.d_manufactured" 
		      			style="width:100px;display: inline-block;padding: 4px;height: 24px;" 
		      			ng-disabled="row_dtl.lot_disabled"   
		      			datepicker-popup  is-open="lot.d_manu.opened" 
		      			>
		      			<span class="input-group-btn">
	                		<button type="button" class="btn btn-default" 
	                			style=" height: 24px;" 
	                			ng-click="openDate($event,lot.d_manu)" 
	                			ng-disabled="row_dtl.lot_disabled"   
	                			 ><i class="glyphicon glyphicon-calendar" style="top:-3px;"></i></button>
	              		</span>
              		</div>
		      		&nbsp;&nbsp;
		      		วันที่หมดอายุ : 
		      		<div class="input-group" > 
		      			<input type="textbox" class="form-control" ng-model="lot.d_expired" 
		      			style="width:100px;display: inline-block;padding: 4px;height: 24px;" 
		      			ng-disabled="row_dtl.lot_disabled"   
		      			datepicker-popup  is-open="lot.d_exp.opened" 
		      			>
		      			<span class="input-group-btn">
	                		<button type="button" class="btn btn-default" 
	                			style=" height: 24px;" 
	                			ng-click="openDate($event,lot.d_exp)" 
	                			ng-disabled="row_dtl.lot_disabled"      
	                			 ><i class="glyphicon glyphicon-calendar" style="top:-3px;"></i></button>
	              		</span>
              		</div>

              		<button class="btn btn-danger btn-xs" ng-click="row_del_lot_number($parent.$index,lot)"  
		            ng-disabled="" ng-hide="row_dtl.lot_disabled" 
		            ><i class="ion ion-close" ></i></button>

 
                </div>

		      	</td>	
		      </tr>	

		    </tbody>
		  </table>
 
		</div>
	</div>
	<hr>
	<div class="row">	 
		<div class="col-md-6">	 
			<div class="row">
				<div class="col-md-4">
					<label><b>หมายเหตุ. : &nbsp;</b> </label>
				</div>	
				<div class="col-md-8">
					<textarea ng-model="row.hdr.c_note" class="form-control" id="c_note" type="text" rows="3"
						ng-disabled="options.disabled" ></textarea> 
				</div>	
			</div>	
 
		</div>
		<div class="col-md-6">	 
			<div class="row">
				<div class="col-md-4">
					<label><b>รวมจำนวนเงิน : &nbsp;</b> </label>
				</div>	
				<div class="col-md-8">
					<input ng-model="row.hdr.f_doc_summary" class="form-control" id="f_doc_summary" type="text" readonly>
				</div>	
			</div>	
			
		</div>
	</div>			
			
  </div>

 

</ab-table-3>