<!-- <div class="container-fluid"> -->
  <div class="row">
    <!-- <div class="col-md-12"> -->

      <div class="col-md-6">
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 control-label">ชื่อสมาชิก</label>
            <div class="col-sm-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 control-label">Agent</label>
            <div class="col-sm-8">
              <select class='form-control' >
                <option value="1">Agent 1</option>
                <option value="2">Agent 2</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 control-label">ชั่วโมงคงเหลือ</label>
            <div class="col-sm-8">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 control-label">ยืนยันการใช้</label>
            <div class="col-sm-8">
              <input type="text" class="form-control">
            </div>
          </div>

            <div class="form-group row">
              <label class="col-sm-4 control-label">จำนวนชั่วโมง</label>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 control-label">เลน</label>
              <div class="col-sm-8">
                <select class='form-control' >
                  <option value="1">เลน 1</option>
                  <option value="2">เลน 2</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 control-label">เวลาที่เริ่ม</label>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 control-label">เวลาที่สิ้นสุด</label>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 control-label">ราคา</label>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 control-label">จำนวนเดือน</label>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 control-label">วันหมดอายุ</label>
              <div class="col-sm-8">
                <input type="text" class="form-control">
              </div>
            </div>

          <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-8">
              <button type="submit" class="btn btn-success">ตกลง</button>
              <button type="button" class="btn btn-danger">ยกเลิก</button>
            </div>
          </div>
        </form>
      </div>
    <!-- </div> -->
  </div>
<!-- </div> -->
