<!-- <div class="container-fluid"> -->
  <div class="row">
    <!-- <div class="col-md-12"> -->
      <div class="col-md-6">
        <div class="col-md-12">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 control-label">ชื่อสมาชิก</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
<div class="col-md-12">
  <table class='table table-striped table-bordered table-hover table-condensed'>
    <thead>
      <tr>
        <th>รายการ</th>
        <th>จำนวน</th>
        <th>ยอดเงิน</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>บัตร Flow Card</td>
        <td>1</td>
        <td>6,000</td>
        <td>
          <button type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>บัตร Flow Card</td>
        <td>1</td>
        <td>7,000</td>
        <td>
          <button type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </td>

        <td colspan="2">
          รวม 13,000 บาท
        </td>
      </tr>
    </tfoot>
  </table>
</div>



      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <div class="row">

              <div class="col-md-3">
                <a class="btn btn-app">
                <!-- <span class="badge bg-green">300</span> -->
                <i class="fa fa-credit-card"></i> Card
              </a>
              </div>
              <div class="col-md-3">
                <a class="btn btn-app">
                <!-- <span class="badge bg-green">300</span> -->
                <i class="fa fa-barcode"></i> By One
              </a>
              </div>


          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" class="form-control" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
              </div>
            </div>
            <hr>
            <div class="col-md-12">
              <div class="row">
                <button class="btn btn-default col-md-6">

                    <h4>บัตร Flow Card</h4>
                    <p class="text-right">7,500 บาท</p>

                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
<!-- </div> -->
