<div class="row">
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 control-label">ชื่อสมาชิก</label>
        <div class="col-sm-9">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row well well-sm" style="height: 59vh;">
        <div style="overflow: auto; max-height: 44vh;">
          <table class='table-hover table-condensed'>
            <thead fix-head style="background-color: #f39c12;">
              <tr>
                <th>รายการ</th>
                <th style="width:10%" class="text-right">จำนวน</th>
                <th style="width:28%" class="text-right">ยอดเงิน</th>
                <th style="width:20%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>บัตร Flow Card</td>
                <td>
                  <input type="number" style="width:50px" class="text-right">
                </td>
                <td class="text-right">6,000</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>บัตร Flow Card</td>
                <td>
                  <input type="number" style="width:50px" class="text-right">
                </td>
                <td class="text-right">6,000</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>บัตร Flow Card</td>
                <td>
                  <input type="number" style="width:50px" class="text-right">
                </td>
                <td class="text-right">6,000</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>บัตร Flow Card</td>
                <td>
                  <input type="number" style="width:50px" class="text-right">
                </td>
                <td class="text-right">6,000</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>บัตร Flow Card</td>
                <td>
                  <input type="number" style="width:50px" class="text-right">
                </td>
                <td class="text-right">6,000</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>บัตร Flow Card</td>
                <td>
                  <input type="number" style="width:50px" class="text-right">
                </td>
                <td class="text-right">6,000</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>บัตร Flow Card</td>
                <td>
                  <input type="number" style="width:50px" class="text-right">
                </td>
                <td class="text-right">6,000</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>บัตร Flow Card</td>
                <td>
                  <input type="number" style="width:50px" class="text-right">
                </td>
                <td class="text-right">6,000</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>บัตร Flow Card</td>
                <td>
                  <input type="number" style="width:50px" class="text-right">
                </td>
                <td class="text-right">6,000</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>บัตร Flow Card</td>
                <td>
                  <input type="number" style="width:50px" class="text-right">
                </td>
                <td class="text-right">6,000</td>
                <td class="text-right">
                  <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr style="margin-bottom:0px">
        <div class="row">
          <div class="col-md-12 text-right">
            <h1 style="margin-top:0px">รวม 13,000</h1>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="row well well-sm " style="padding-right: 35px;">
        <ul rn-carousel rn-carousel-index="0" rn-carousel-controls style="height: 54px; margin-bottom: 0px;">
          <li class="col-md-3 card-type">
            <button class="btn btn-block bg-yellow ">
              Card<br>
              <i class="fa fa-credit-card"></i>
            </button>
          </li>
          <li class="col-md-3 card-type">
            <button class="btn btn-block bg-yellow ">
                Buy One<br>
                <i class="fa fa-barcode"></i>
              </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row  form-group">
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-12 form-group" style="overflow:auto; height:44vh; padding:0px">
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
      <div class="col-md-4 card-search">
        <button class="btn btn-block btn-default">
              <strong>บัตร Flow Card</strong>
              <p class="text-right">7,500 บาท</p>
            </button>
      </div>
    </div>
    <div class="col-md-12 text-right">
      <button type="submit" class="btn btn-success">ตกลง</button>
      <button type="button" class="btn btn-danger" ng-click="close()">ยกเลิก</button>
    </div>
  </div>
</div>
