<div class="row">
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-sm-3 control-label">ชื่อสมาชิก </label>
        <div class="col-sm-9">
          <input ng-model="model.customer.cus_name" readonly type="text" class="form-control" >
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row well well-sm" style="height: 59vh;">
        <div class="">
          <div style="overflow: auto; height: 44vh;">
            <table class='table-hover table-condensed'>
              <thead fix-head style="background-color: #f39c12;">
                <tr>
                  <th>รายการ</th>
                  <th style="width:10%" class="text-right">จำนวน</th>
                  <th style="width:28%" class="text-right">ยอดเงิน</th>
                  <th style="width:20%"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="i in card_order">
                  <td>{{i.co_name}}</td>
                  <td>
                    <input ng-model="i.co_quantity" type="number" style="width:50px" class="text-right">
                  </td>
                  <td class="text-right">{{i.co_price | number}}</td>
                  <td class="text-right">
                    <button ng-click="remove_order($index)" type="button" class="btn btn-sm btn-danger">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr style="margin-bottom:0px">
        <div class="row">
          <div class="col-md-12 text-right">
            <h1 style="margin-top:0px">รวม {{co_total() | number}}</h1>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="row well well-sm " style="padding-right: 35px;">
        <ul rn-carousel rn-carousel-index="0" rn-carousel-controls style="height: 54px; margin-bottom: 0px;">
          <li ng-repeat="i in card_type" class="col-md-3 card-type">
            <button class="btn btn-block {{i.ct_color}}">
              {{i.ct_name}}<br>
              <i class="{{i.ct_ico}}"></i>
            </button>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row  form-group">
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2">
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-12 form-group" style="overflow:auto; height:40vh; padding:0px">
      <div ng-repeat="i in cards" class="col-md-4 card-search">
        <button ng-click="add_order(i.card_id)" class="btn btn-block btn-default">
          <strong>{{i.card_name}}</strong>
          <p class="text-right">{{i.card_price | number}} บาท</p>
        </button>
      </div>
    </div>
    <div class="col-md-12 text-right">
      <button type="submit" class="btn btn-success">ตกลง</button>
      <button type="button" class="btn btn-danger" ng-click="close()">ยกเลิก</button>
    </div>
  </div>
</div>
